<html>
	<head>
		<title>Welcome to My Kitty</title>
	</head>
	<body>
		<form action = '/kitties/new'>
			Welcome to My Kitty
			<br> 
			<br>
			<input type='submit'  value='Create Kitty'/>
		</form>
	</body>
</html>
