
<html>
	<head>
		<title>Create Kitty</title>
	</head>
	<body>
		<form action = 'kittyEdition'>
			Please enter details to create a Kitty
			<br>
			<br>
			Kitty name binded <%=text_field("kitty","name")%>
			<br>
			Kitty name:<input type='text' name='kittyName'>
			<br>
			Participant:<input type='text' name='participantName'>
			<br>
			<input type='submit'/>
		</form>
	</body>
</html>


